* {
    justify-items: center;
    cursor: default;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    overflow: hidden;
}
body {
    background: rgb(0, 41, 31);
}
h2 {
    color: rgb(0, 175, 131);
    margin-top: 18vh;
}
.navghtion {
    margin-top: 12vh;
    width: 70vw;
}
.navghtion a {
    display: flex;
    background-color: rgb(0, 175, 131);
    color: #fff;
    text-decoration: none;
    width: 68vw;
    height: 8vh;
    border-radius: 16px;
    margin-top: 4vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navghtion a:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background-color: rgb(0, 221, 166);
}
#all {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.one {
    background: #fff;
}
@media (max-width: 600px) {
    #all {
        position: fixed;
        top: 15px;
        right: 15px;
    }
    .one {
        width: 23px;
        height: 2px;
    }
    button {
        padding-right: 12px;
        padding-top: 5px;
        font-size: 23px;
    }
    button , .add {
        width: 70vw;
    }
}
@media (min-width: 601px) {
    #all {
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .one {
        width: 26px;
        height: 3px;
    }
    button {
        padding-right: 22px;
        padding-top: 8px;
        font-size: 26px;
    }
    button , .add {
        width: 400px;
    }
}
.add {
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 40px;
    bottom: 0;
    animation: trans 0.3s linear forwards;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px #000;
}
.add a {
    width: 85%;
    height: 10%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 134, 101);
    border-radius: 16px;
    color: #fff;
    text-decoration: none;
}
button {
    border: none;
    color: #fff;
    background-color: rgb(0, 134, 101);
    animation: trans 0.3s linear forwards;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    top:0;
    height: 40px;
}
@keyframes trans {
    from {
        position: fixed;
        right: -100vw;
    }
}