* {
    justify-items: center;
    cursor: default;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    overflow: hidden;
}
body {
    background: rgb(0, 41, 31);
}
.ar {
    margin-left: 165vw;
}
.back {
    background-color: rgb(0, 41, 31);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border-bottom: 2px solid rgb(0, 175, 131);
    box-shadow: 0 0 20px;
}
.back a {
    position: fixed;
    color: rgb(0, 175, 131);
    margin-right: 85vw;
    cursor: pointer;
}
.back h6 {
    color: rgb(0, 175, 131);
}
.items {
    width: 95vw;
    height: 85vh;
    margin-top: 11vh;
    padding-top: 4vh;
}
.items p {
    color: rgb(0, 175, 131);
    font-size: 16px;
}
.items input {
    display: block;
    margin-top: 12vh;
    color: #fff;
    background-color: rgb(0, 41, 31);
    border: 0.01rem solid rgb(0, 175, 131);
    width: 60vw;
    height: 4vh;
    justify-items: normal;
    padding: 12px;
    font-size: 15px;
    border-radius: 16px;
}
.items input:focus {
    outline: none;
}
.display {
    width: 92vw;
    height: 12vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 175, 131);
    font-size: 16px;
}
.items button {
    display: flex;
    background-color: rgb(0, 175, 131);
    color: #fff;
    text-decoration: none;
    width: 65vw;
    height: 8vh;
    border: none;
    border-radius: 16px;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}
.items button:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background-color: rgb(0, 196, 147);
}
.Error {
    color: rgb(219, 22, 22);
}
.True {
    color: rgb(41, 194, 10);
}
@media (max-width: 380px) {
    .back2 a {
        font-size: 20px;
    }
}